In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [5]:
from sklearn.cluster import KMeans
df = pd.read_csv("C:\#DATA\Work\Sublime_Programs\Random\iris_df.csv")
df.columns = ['X1', 'X2', 'X3', 'X4', 'Y']
df = df.drop (['X3', 'X4'], 1)
df.head()

    X1   X2            Y
0  4.9  3.0  Iris-setosa
1  4.7  3.2  Iris-setosa
2  4.6  3.1  Iris-setosa
3  5.0  3.6  Iris-setosa
4  5.4  3.9  Iris-setosa

In [7]:
from sklearn.cross_validation import train_test_split

kmeans = KMeans(n_clusters = 3)
X = df.values[:, 0:2]
kmeans.fit(X)
df['Pred'] = kmeans.predict(X)
df.head()

    X1   X2            Y  Pred
0  4.9  3.0  Iris-setosa     0
1  4.7  3.2  Iris-setosa     0
2  4.6  3.1  Iris-setosa     0
3  5.0  3.6  Iris-setosa     0
4  5.4  3.9  Iris-setosa     0